In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

os.getcwd()

'C:\\Users\\iz'

# Data Exploration

In [2]:
crash = pd.read_csv('C:/Users/iz/Desktop/New Folder/CrashTest_TrainData.csv',index_col =0)
crash.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 1 to 80
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ManHI    80 non-null     float64
 1   ManBI    80 non-null     float64
 2   IntI     77 non-null     float64
 3   HVACi    80 non-null     float64
 4   Safety   80 non-null     float64
 5   CarType  80 non-null     object
dtypes: float64(5), object(1)
memory usage: 4.4+ KB

In [3]:
data=crash.copy()
data.head()

       ManHI  ManBI  IntI  HVACi  Safety    CarType
CarID
1      -5.27  -1.30  2.86  -4.85    4.04        SUV
2      -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
3       9.57  -7.50 -7.61   1.33   -5.10  Hatchback
4       2.84  -2.85  0.92   5.51   -6.64  Hatchback
5       0.00   2.68 -4.15   0.85    5.58        SUV

# Q) How many distinct car types are there in the Train_Data?

In [4]:
cart = pd.crosstab(index = data['CarType'], columns='Count')
cart
#Binary Classification

col_0      Count
CarType
Hatchback     50
SUV           30

# Q) How many missing values are there in Train_Data?

In [5]:
data.isnull().sum()# Number of NUll values

ManHI      0
ManBI      0
IntI       3
HVACi      0
Safety     0
CarType    0
dtype: int64

In [6]:
test = pd.read_csv('C:/Users/iz/Desktop/New Folder/CrashTest_TestData.csv',index_col =0)
testc = test.copy()
testc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 81 to 100
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ManHI    20 non-null     float64
 1   ManBI    20 non-null     float64
 2   IntI     20 non-null     float64
 3   HVACi    20 non-null     float64
 4   Safety   20 non-null     float64
 5   CarType  20 non-null     object
dtypes: float64(5), object(1)
memory usage: 1.1+ KB

In [7]:
testc.isnull().sum()

ManHI      0
ManBI      0
IntI       0
HVACi      0
Safety     0
CarType    0
dtype: int64

# Q) What is the proportion of car types in the Test_Data?

In [8]:
testc['CarType'].value_counts()

SUV          10
Hatchback    10
Name: CarType, dtype: int64

# Q) What is the difference between third quartile values of the variable ManBI from Train_Data and Test_Data?

In [9]:
B = data['ManBI'].median()
B1 = testc['ManBI'].median()
CrQ3 = np.quantile(data['ManBI'], .75)
CtQ3 = np.quantile(testc['ManBI'], .75)
diff = CrQ3 - CtQ3
print(diff)

0.9175

Train Set: Has 3 Null Values
<br>Test Set : Has NO Null values

In [10]:
# we can Either Remove the coloumns with null values or Impute them with mean ,median or mode.
data.info()
data['IntI'].fillna(data['IntI'].mean(), inplace=True)
print("\n----------------------------After Imputation------------------------------\n")
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 1 to 80
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ManHI    80 non-null     float64
 1   ManBI    80 non-null     float64
 2   IntI     77 non-null     float64
 3   HVACi    80 non-null     float64
 4   Safety   80 non-null     float64
 5   CarType  80 non-null     object
dtypes: float64(5), object(1)
memory usage: 4.4+ KB

----------------------------After Imputation------------------------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 1 to 80
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ManHI    80 non-null     float64
 1   ManBI    80 non-null     float64
 2   IntI     80 non-null     float64
 3   HVACi    80 non-null     float64
 4   Safety   80 non-null     float64
 5   CarType  80 non-null     object
dtypes: float64(5), object(1)
memory usage: 4.4+ KB

In [11]:
data.shape

(80, 6)

# Buliding Model
Follow the steps given below to build the classifier models: 
<br>• Drop the missing values 
<br>• Ensure the datatypes of the columns are appropriate
<br>• Map the categorical variables into integers

In [12]:
train=crash.copy()
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 1 to 80
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ManHI    80 non-null     float64
 1   ManBI    80 non-null     float64
 2   IntI     77 non-null     float64
 3   HVACi    80 non-null     float64
 4   Safety   80 non-null     float64
 5   CarType  80 non-null     object
dtypes: float64(5), object(1)
memory usage: 4.4+ KB

In [13]:
train=train.dropna()
train.info()
# Dropped Columns with null values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 1 to 80
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ManHI    77 non-null     float64
 1   ManBI    77 non-null     float64
 2   IntI     77 non-null     float64
 3   HVACi    77 non-null     float64
 4   Safety   77 non-null     float64
 5   CarType  77 non-null     object
dtypes: float64(5), object(1)
memory usage: 4.2+ KB

In [14]:
from sklearn import preprocessing as p
label=train['CarType']
label[0:10]
le=p.LabelEncoder()
le.fit(label)
label=le.transform(label)
label#Catagorical Mapping

array([1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0])

In [15]:
#remove Target fom dataframe
train=train.drop(columns=['CarType'])
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 1 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ManHI   77 non-null     float64
 1   ManBI   77 non-null     float64
 2   IntI    77 non-null     float64
 3   HVACi   77 non-null     float64
 4   Safety  77 non-null     float64
dtypes: float64(5)
memory usage: 3.6 KB

In [16]:
#remove Target fom dataframe and storing in list
actual_labels=testc['CarType']
testc=testc.drop(columns=['CarType'])
# map Lables
le.fit(actual_labels)
actual_labels=le.transform(actual_labels)
actual_labels#Catagorical Mapping "SUV"=1 "Hatchback"=0

array([0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0])

In [17]:
from sklearn.neighbors import KNeighborsClassifier
# Initiate KNN classifier
model_1 = KNeighborsClassifier(n_neighbors = 3) 
model_2 = KNeighborsClassifier(n_neighbors = 2)

# Fit the classifier to the data
model_1.fit(train,label)
model_2.fit(train,label)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [18]:
#test results

# Q) Identify the list of indices of misclassified samples from the ‘model_1’.

In [19]:
pred=model_1.predict(testc)
print("Predicted Lables    :",pred)
print("Actual Lables       :",actual_labels)
print("Indices of Misclassified labels:\n")
for i in range(0,len(actual_labels)):
    if pred[i]!=actual_labels[i]:
        print(i,end=" ")

Predicted Lables    : [1 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 0 0 0]
Actual Lables       : [0 1 0 0 0 0 1 1 1 1 1 0 1 1 1 1 0 0 0 0]
Indices of Misclassified labels:

0 1 7 8 10 14

# Q) Rebuild the model (model_2) with 2 neighbors keeping the other modelling steps constant. Compare results of the two models (model_1 &amp; model_2).

In [20]:
#Model_1 Accuracy (3NN) 
print("model_1:",model_1.score(testc,actual_labels))

#Model_2 Accuracy (2NN)
print("model_2:",model_2.score(testc,actual_labels))

model_1: 0.7
model_2: 0.7

# Q) Build a logistic regression model (model_3) keeping the modelling steps constant. The accuracy of the model_3

In [21]:
from sklearn.linear_model import LogisticRegression

# instantiate the model

model_3 = LogisticRegression()

# fit the model with data
model_3.fit(train,label)

#get predictions
pred=model_3.predict(testc)
print("predicions of model_3:",pred)
print("Actual               :",actual_labels)

# Accuracy
print("Accuracy:",model_3.score(testc,actual_labels))

predicions of model_3: [0 1 0 0 0 0 1 1 1 1 1 0 1 1 1 1 0 0 0 0]
Actual               : [0 1 0 0 0 0 1 1 1 1 1 0 1 1 1 1 0 0 0 0]
Accuracy: 1.0